<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{ app_config['web_page']['title']|e }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500italic.woff2" as="font" type="font/woff2"
        crossorigin>
    <script type="module" src="/static/filelist.js"></script>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <noscript>
        <style>
            #file_list {
                display: block !important;
            }
        </style>
    </noscript>
</head>

<body>
    <main>
        <div class="contained-content">
            <h1>{{ app_config['web_page']['title']|e }} File List</h1>
            <header>
                <a href="/index.html">Home</a> | {% if about_page %}<a href="/about.html">About</a> | {% endif %}<a
                    href="/guide.html">Guide</a> | <a href="/filelist.html">File list</a>
                <hr>
            </header>
            <p>Please don't listen to podcast episodes this way, use the guide on the website to add the feeds to a
                podcast
                app. Anything in the /content/_adhoc folder is not in a podcast feed.{% if app_config['storage_backend']
                ==
                "s3" %} Files are sent via the CDN.{% endif %}</p>
        </div>
        <noscript>
            <div id="breadcrumb" class="file-list" style="display: block;"><a>Javascript is disabled, listing
                    everything.</a></div>
        </noscript>
        <div id="breadcrumb_js" class="file-list" style="display: none;"></div><br>
        <ul id="file_list_js" class="file-list" style="display: none;"></ul>
        <ul id="file_list" class="file-list" style="display: none;">
            {% for file in file_list %}<li><a href="{{ base_url }}{{ file }}">/{{ file }}</a></li>
            {% endfor %}
        </ul>
        <p style="display: none;">Last generated: {{ last_generated_date }}</p>
    </main>
</body>

</html>
