<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{ settings['web_page']['title']|e }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/clipboard.js"></script>
</head>

<body>
    <main>
        <h1>{{ settings['web_page']['title']|e }}</h1>
        <h2>Pocket Casts</h2>
        <h2>Apple Podcasts</h2>
        <h2>YouTube Music</h2>
        <h2>Podbean</h2>
        <h2>AntennaPod</h2>
        <h2>PodcastAddict</h2>
        <h2>Overcast</h2>
        <h2>GPodder</h2>
        <p><i>Linux, MacOS, Windows</i></p>
        <p>Manually add one at a time using Menu - Subscriptions -> Subscribe to new podcast and paste in the URL of the
            RSS feed.</p>
    </main>
</body>

</html>
