<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{ settings['web_page']['title']|e }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/static/clipboard.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <main>
        <h1>{{ settings['web_page']['title']|e }}</h1>
        <h3>{{ settings['web_page']['description']|e }}</h3>
        <h3>For instructions on how to add a podcast url to a podcast app, <a href="/guide.html">check out the
                guide</a>.</p>
        {% for podcast in podcasts -%}
        <h2>{{ podcast['new_name']|e }}</h3>
        <h3>{{ podcast['description']|e }}</h3>
        <input type="text" readonly="readonly" value="{{settings['inet_path']}}rss/{{ podcast['name_one_word']}}"
            id="{{ podcast['name_one_word']}}">
        <button class="button" onclick="grab_to_clipboard('{{ podcast['name_one_word']}}')"
            id="{{ podcast['name_one_word']}}_button">Copy url</button>
        {% endfor %}
        {% if about_page %}
        <footer>
            <hr>
            <a href="/about.html">About</a> | Contact: <a href="mailto:{{ settings['web_page']['contact']|e }}">{{
                settings['web_page']['contact']|e }}</a>
        </footer>
        {% endif %}
    </main>
</body>

</html>
