<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {{ settingsjson['webpagetitle'] }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/podcasto.css" />
    <script src="static/clipboard.js"></script>
</head>


<body>
    <main>
        <h1>{{ settingsjson['webpagetitle'] }}</h1>

        <p>{{ settingsjson['webpagedescription'] }}</p>

        <p>For instructions on how to add a podcast url to a podcast app, <a href="{{ settingsjson['webpagepodcastguidelink'] }}">check out this helpful guide</a>.</p>


        {% for podcast in settingsjson['podcast'] -%}
            <h2>{{ podcast['podcastnewname'] }}</h2>
            <p>{{ podcast['podcastdescription'] }}</p>
            <input type="text" value="{{settingsjson['inetpath']}}rss/{{ podcast['podcastnameoneword']}}" id="{{ podcast['podcastnameoneword']}}">
            <button class="button" onclick="grabtoclipboard('{{ podcast['podcastnameoneword']}}')" id="{{ podcast['podcastnameoneword']}}_button">Copy url</button>
        {% endfor %}



    </main>
</body>

</html>