---
name: Type Check (Mypy)

on:
  push:
    branches:
      - main
      - test
    paths-ignore:
      - "**/README*"
      - "docs/**"
      - ".github/workflows/*publish*.yml"
      - ".github/workflows/*docker*.yml"

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --extra type --extra test
      - name: Check types with mypy
        run: uv run mypy

  ty:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --extra type --extra test
      - name: Check types with ty
        run: uv run ty check
