---
name: Lint (Ruff, Biome, etc.)

on:
  push:
    branches:
      - main
      - test
    paths-ignore:
      - "**/README*"
      - "docs/**"
      - ".github/workflows/*publish*.yml"
      - ".github/workflows/*docker*.yml"


jobs:
  check_py:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3

  check_js:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci

  check_html:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "latest"
          cache: "npm"
          cache-dependency-path: "package.json"
      - name: Install libxml2
        run: sudo apt-get install -y libxml2-dev libxslt-dev
      - name: Install html-Validate
        run: npm install -g html-validate
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Get dependencies
        run: uv sync
      - name: Prepare to generate the HTML
        run: |
          mkdir -p instance/web/rss/
          cp -f scripts/config/rss-ci.rss instance/web/rss/test
          cp -f scripts/config/config-ci.json instance/config.json
      - name: Create fake ffmpeg
        run: |
          echo '#!/bin/bash' > /usr/local/bin/ffmpeg
          chmod +x /usr/local/bin/ffmpeg
      - name: Generate the HTML
        run: uv run python -m archivepodcast
      - name: Validate HTML
        run: html-validate instance/web/*.html
