name: Docker (Build)

on:
  push:
    branches:
      - main
      - test
    paths-ignore:
      - "**/README*"
      - "docs/**"

env:
  PYTEST_TAG: kism/archivepodcast:pytest
  TEST_TAG: kism/archivepodcast:test

jobs:
  docker:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build pytest version
        uses: docker/build-push-action@v6
        with:
          file: tests/Dockerfile
          load: true
          push: false
          tags: ${{ env.PYTEST_TAG }}

      - name: Run pytest tests
        run: |
          docker run --rm ${{ env.PYTEST_TAG }}

      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          load: true
          push: false
          tags: ${{ env.TEST_TAG }}

      - name: Test Run
        run: |
          docker run --rm ${{ env.TEST_TAG }} waitress-serve --help
