name: Docker (Test)

on:
  push:
    branches:
      - main
      - test
    paths-ignore:
      - "**/README*"
      - "docs/**"
      - ".github/workflows/*publish*.yml"
  workflow_dispatch:

env:
  PYTEST_TAG: archivepodcast:pytest
  MAIN_TAG: archivepodcast:latest
  FFMPEG_LAMBDA_TAG: archivepodcast:ffmpeg-lambda
  FFMPEG_BOOKWORM_TAG: archivepodcast:ffmpeg-bookworm

jobs:
  docker:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      # ffmpeg dependency images

      - name: Build ffmpeg main
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/_dep_ffmpeg_bookworm.Dockerfile
          push: false
          load: true
          tags: ${{ env.FFMPEG_BOOKWORM_TAG }}
          cache-from: type=gha,scope=ffmpeg
          cache-to: type=gha,mode=max,scope=ffmpeg

      - name: Run docker image ls
        run: docker image ls

      - name: Build ffmpeg lambda
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/_dep_ffmpeg_lambda.Dockerfile
          push: false
          load: true
          tags: ${{ env.FFMPEG_LAMBDA_TAG }}
          cache-from: type=gha,scope=ffmpeg-lambda
          cache-to: type=gha,mode=max,scope=ffmpeg-lambda

      - name: Run docker image ls
        run: docker image ls

      # docker/main.Dockerfile
      - name: Create instance directory
        run: mkdir -p instance

      - name: Build main docker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/main.Dockerfile
          push: false
          load: true
          tags: ${{ env.MAIN_TAG }}
          build-contexts: |
            archivepodcast:ffmpeg-bookworm=docker-image://archivepodcast:ffmpeg-bookworm
          cache-from: type=gha,scope=main
          cache-to: type=gha,mode=max,scope=main

      - name: Run main docker
        run: docker run --rm --mount type=bind,source="$(pwd)"/instance,target=/app/instance ${{ env.MAIN_TAG }} archivepodcast

      # docker/pytest.Dockerfile
      - name: Recreate instance directory
        run: sudo rm -rf instance && mkdir -p instance

      - name: Build pytest docker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/pytest.Dockerfile
          push: false
          load: true
          tags: ${{ env.PYTEST_TAG }}
          build-contexts: |
            archivepodcast=docker-image://${{ env.MAIN_TAG }}
          cache-from: type=gha,scope=pytest
          cache-to: type=gha,mode=max,scope=pytest

      - name: Run pytest docker
        run: docker run --rm ${{ env.PYTEST_TAG }}
